<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Activation Account</title>
    </head>
    <body>
        <div>
            <h1>Account Activation</h1>
            <p class="greeting" th:text="'Hello, ' + ${username} + ','"></p>
            <p>Thank you for signing up! Please use the following activation code to activate your account:</p>
            <div><span th:text="${activation_code}"></span></div>
            <div>
                <a th:href="${confirmationUrl}" target="_blank">Activate your account</a>
            </div>
        </div>
    </body>
</html>